In [1]:
import pandas as pd
import os

In [5]:
folder_directory = "C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/"

In [6]:
data_list = os.listdir(folder_directory)

In [7]:
data_list

['Green Taxi Data 2019-1.csv',
 'Green Taxi Data 2019-2.csv',
 'Green Taxi Data 2019-3.csv',
 'Green Taxi Data 2019-4.csv',
 'Green Taxi Data 2019-5.csv',
 'Green Taxi Data 2019-6.csv']

In [8]:
directory_list = [os.path.join(folder_directory, data_name) for data_name in data_list]

In [9]:
directory_list

['C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-1.csv',
 'C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-2.csv',
 'C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-3.csv',
 'C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-4.csv',
 'C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-5.csv',
 'C:/Users/John Xu/Desktop/NYC_Taxi_Trips/data/Data/Green Taxi Data 2019-6.csv']

In [13]:
Green_taxi_data_list = [pd.read_csv(path) for path in directory_list]
Green_taxi_data = pd.concat(Green_taxi_data_list, axis=0, ignore_index=True)

In [15]:
Green_taxi_data.columns

Index(['Unnamed: 0', 'VendorID', 'lpep_pickup_datetime',
       'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID',
       'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type',
       'trip_type', 'congestion_surcharge'],
      dtype='object')

In [17]:
Green_taxi_data.drop(['Unnamed: 0'], axis=1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.50,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.50,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.50,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.50,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,6.5,0.50,0.5,0.00,0.00,NaN,0.3,7.80,1,1,NaN
6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,13.5,0.50,0.5,0.00,0.00,NaN,0.3,14.80,1,1,NaN
7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,16.0,0.50,0.5,0.00,0.00,NaN,0.3,17.30,1,1,NaN
8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,25.5,0.50,0.5,0.00,0.00,NaN,0.3,26.80,1,1,NaN
9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,15.5,0.50,0.5,0.00,0.00,NaN,0.3,16.80,1,1,NaN
10,2,2019-01-01 00:37:00,2019-01-01 00:56:42,N,1,223,238,1,6.84,22.0,0.50,0.5,8.00,5.76,NaN,0.3,37.06,1,1,NaN
11,2,2019-01-01 00:13:48,2019-01-01 00:21:00,N,1,129,129,2,1.15,6.5,0.50,0.5,1.56,0.00,NaN,0.3,9.36,1,1,NaN
12,2,2019-01-01 00:19:59,2019-01-01 00:45:50,N,1,71,71,1,0.49,15.5,0.50,0.5,0.00,0.00,NaN,0.3,16.80,1,1,NaN
13,2,2019-01-01 00:57:57,2019-01-01 01:20:10,N,1,85,177,1,3.61,17.0,0.50,0.5,0.00,0.00,NaN,0.3,18.30,1,1,NaN
14,1,2019-01-01 00:09:02,2019-01-01 00:17:50,N,1,256,80,1,1.20,7.5,0.50,0.5,5.20,0.00,NaN,0.3,14.00,1,1,NaN
15,1,2019-01-01 00:22:12,2019-01-01 00:25:29,N,1,80,80,1,0.50,4.0,0.50,0.5,0.00,0.00,NaN,0.3,5.30,2,1,NaN
16,1,2019-01-01 00:31:55,2019-01-01 00:52:59,N,1,256,229,1,5.50,19.5,0.50,0.5,4.15,0.00,NaN,0.3,24.95,1,1,NaN
17,2,2019-01-01 00:30:20,2019-01-01 00:54:19,N,1,255,231,1,5.01,20.0,0.50,0.5,4.26,0.00,NaN,0.3,25.56,1,1,NaN
18,2,2018-12-31 23:58:06,2019-01-01 00:00:57,N,1,146,7,1,0.43,4.0,0.50,0.5,1.06,0.00,NaN,0.3,6.36,1,1,NaN
19,2,2019-01-01 00:40:17,2019-01-01 00:50:23,N,1,146,129,1,2.72,10.5,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1,1,NaN
20,2,2019-01-01 00:51:16,2019-01-01 01:04:10,N,1,129,157,1,2.15,10.5,0.50,0.5,2.95,0.00,NaN,0.3,14.75,1,1,NaN
21,2,2019-01-01 00:30:28,2019-01-01 00:41:18,N,1,256,112,5,2.18,9.5,0.50,0.5,3.24,0.00,NaN,0.3,14.04,1,1,NaN
22,2,2019-01-01 00:26:59,2019-01-01 01:01:33,N,1,66,68,5,6.66,25.5,0.50,0.5,0.00,0.00,NaN,0.3,26.80,2,1,NaN
23,2,2019-01-01 00:39:09,2019-01-01 00:42:32,N,1,7,7,1,0.57,4.5,0.50,0.5,0.00,0.00,NaN,0.3,5.80,2,1,NaN
24,2,2019-01-01 00:35:13,2019-01-01 01:18:53,N,1,74,62,1,13.90,44.0,0.50,0.5,0.00,0.00,NaN,0.3,45.30,1,1,NaN
25,1,2019-01-01 00:35:52,2019-01-01 00:40:00,N,1,7,260,1,0.80,5.0,0.50,0.5,0.00,0.00,NaN,0.3,6.30,2,1,NaN
26,1,2019-01-01 00:48:27,2019-01-01 00:55:49,N,1,7,223,1,1.40,7.0,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2,1,NaN
27,2,2019-01-01 00:01:21,2019-01-01 00:08:45,N,1,97,181,1,1.21,7.0,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2,1,NaN
28,2,2019-01-01 00:24:39,2019-01-01 00:43:17,N,1,181,17,1,2.74,14.0,0.50,0.5,2.00,0.00,NaN,0.3,17.30,1,1,NaN
29,2,2019-01-01 00:44:25,2019-01-01 00:53:03,N,1,17,256,1,1.99,8.5,0.50,0.5,2.45,0.00,NaN,0.3,12.25,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3298006,2,2019-06-30 23:00:56,2019-06-30 23:09:28,N,1,74,236,1,1.75,8.0,0.50,0.5,2.41,0.00,NaN,0.3,14.46,1,1,2.75
3298007,2,2019-06-30 23:31:57,2019-06-30 23:37:16,N,1,74,75,1,1.56,6.5,0.50,0.5,0.00,0.00,NaN,0.3,7.80,2,1,0.00
3298008,2,2019-06-30 23:41:36,2019-06-30 23:48:52,N,1,75,168,1,1.76,8.0,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2,1,0.00
3298009,2,2019-06-30 23:56:57,2019-06-30 23:59:50,N,1,95,95,1,0.61,4.0,0.50,0.5,1.06,0.00,NaN,0.3,6.36,1,1,0.00
3298010,2,2019-06-30 23:38:16,2019-06-30 23:56:33,N,1,61,76,1,3.74,14.5,0.50,0.5,0.00,0.00,NaN,0.3,15.80,2,1,0.00
3298011,1,2019-06-30 23:10:50,2019-06-30 23:12:41,N,1,157,157,1,0.40,3.5,0.50,0.5,0.00,0.00,NaN,0.3,4.80,2,1,0.00
3298012,1,2019-06-30 23:21:08,2019-06-30 23:32:21,N,1,82,173,1,1.70,9.0,0.50,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.00
3298013,2,2019-06-30 23:12:20,2019-06-30 23:21:59,N,1,74,152,1,1.95,9.0,0.50,0.5,2.06,0.00,NaN,0.3,12.36,1,1,0.00
3298014,2,2019-06-30 23:20:12,2019-06-30 23:25:37,N,1,226,7,1,1.16,6.0,0.50,0.5,2.08,0.00,NaN,0.3,9.38,1,1,0.00
3298015,2,2019-07-01 00:00:11,2019-07-01 00:06:47,N,1,146,179,1,1.85,8.0,0.50,0.5,0.00,0.00,NaN,0.3,9.30,2,1,0.00
3298016,2,2019-06-30 23:10:48,2019-06-30 23:28:16,N,1,255,17,1,3.22,13.5,0.50,0.5,2.96,0.00,NaN,0.3,17.76,1,1,0.00
3298017,2,2019-06-30 23:44:27,2019-06-30 23:51:10,N,1,112,256,1,1.51,6.5,0.50,0.5,0.00,0.00,NaN,0.3,7.80,2,1,0.00
3298018,2,2019-06-30 23:45:18,2019-06-30 23:58:38,N,1,223,244,1,7.59,21.5,0.50,0.5,5.78,6.12,NaN,0.3,34.70,1,1,0.00
3298019,1,2019-06-30 23:15:28,2019-06-30 23:32:16,N,1,66,79,1,4.60,16.5,3.25,0.5,6.15,0.00,NaN,0.3,26.70,1,1,2.75
3298020,1,2019-06-30 23:50:30,2019-07-01 00:11:21,N,1,66,89,1,4.20,17.0,0.50,0.5,0.00,0.00,NaN,0.3,18.30,2,1,0.00
3298021,2,2019-06-30 23:29:41,2019-06-30 23:39:14,N,1,74,263,1,2.23,9.5,0.50,0.5,4.06,0.00,NaN,0.3,17.61,1,1,2.75
3298022,1,2019-06-30 23:21:03,2019-06-30 23:38:18,N,1,66,181,3,2.70,13.5,0.50,0.5,0.00,0.00,NaN,0.3,14.80,2,1,0.00
3298023,1,2019-06-30 23:46:37,2019-06-30 23:54:01,N,1,181,61,1,1.20,7.0,0.50,0.5,0.00,0.00,NaN,0.3,8.30,2,1,0.00
3298024,2,2019-06-30 23:00:55,2019-06-30 23:04:04,N,1,244,116,1,0.53,4.0,0.50,0.5,1.06,0.00,NaN,0.3,6.36,1,1,0.00
3298025,1,2019-06-30 23:02:33,2019-06-30 23:13:08,N,1,74,166,2,2.10,9.5,0.50,0.5,0.00,0.00,NaN,0.3,10.80,2,1,0.00
3298026,2,2019-06-30 23:15:29,2019-06-30 23:18:01,N,1,75,74,1,0.76,4.5,0.50,0.5,1.16,0.00,NaN,0.3,6.96,1,1,0.00
3298027,2,2019-06-30 23:33:16,2019-06-30 23:50:55,N,1,42,127,1,4.89,18.0,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2,1,0.00
3298028,2,2019-06-30 23:51:10,2019-06-30 23:51:15,N,2,127,127,1,0.00,52.0,0.00,0.5,0.00,0.00,NaN,0.3,52.80,2,1,0.00
3298029,2,2019-06-30 23:51:25,2019-06-30 23:55:04,N,1,127,243,1,0.74,4.5,0.50,0.5,0.00,0.00,NaN,0.3,5.80,2,1,0.00
3298030,2,2019-06-30 23:47:31,2019-06-30 23:51:39,N,1,74,41,1,0.78,5.0,0.50,0.5,0.00,0.00,NaN,0.3,6.30,2,1,0.00
3298031,2,2019-06-30 23:31:12,2019-06-30 23:42:08,N,1,17,49,1,2.07,9.5,0.50,0.5,0.00,0.00,NaN,0.3,10.80,1,1,0.00
3298032,2,2019-06-30 23:06:20,2019-06-30 23:23:42,N,1,255,7,1,3.82,15.0,0.50,0.5,3.26,0.00,NaN,0.3,19.56,1,1,0.00
3298033,2,2019-06-30 23:07:36,2019-06-30 23:16:08,N,1,260,7,1,1.38,8.0,0.50,0.5,1.86,0.00,NaN,0.3,11.16,1,1,0.00
3298034,2,2019-06-30 23:51:23,2019-06-30 23:57:01,N,1,260,129,1,0.75,5.5,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2,1,0.00
3298035,2,2019-06-30 23:57:48,2019-07-01 00:14:44,N,1,49,106,1,3.00,14.0,0.50,0.5,1.53,0.00,NaN,0.3,16.83,1,1,0.00